<!DOCTYPE html>
<html>
<head>
    <title>React workshop</title>
    <meta charset="utf-8">
    <meta property="og:title" content="Hjelp Fredrik" />
    <meta property="og:description" content={description} />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700" rel="stylesheet" type="text/css">

</head>

{{{bodyHtml}}}

</html>